:root {
  --gray-600: #1a1a1a;
  --gray-700: #0D0D0D;
  --blue: #4EA8DE;
  --purpleDark: #5E60CE;

  --inter: inter;
}

body {
  background-color: var(--gray-600);
}

.appBar {
  align-items: center;
}