.header {
    background-color: var(--gray-700);
    height: 12.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -10px;
    width: 101.4%;
}

.preTitle {
    font-family: var(--inter);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--blue);
}

.posTitle {
    font-family: var(--inter);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--purpleDark);
}

.image {
    margin-right: 12px;
}