.grid {
    width: 39.785rem;
    height: 3.375rem;
    align-items: center;
    justify-content: center;
    margin-top: -0.313rem;
}

.textField {
    background: var(--gray-500);
    outline-color: var(--gray-700);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-inter);
}

.button {
    width: 5.625rem;
    height: 3.25rem;
}