.grid {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--gray-500);
    align-items: center;
    justify-content: center;
}

.p {
    white-space: wrap;
    max-width: 500px;
}